<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="styles.css">
  <style>
    .error-message {
      color: red;
      margin-top: 5px;
    }
  </style>
</head>
<body>
  <%- include('common/header'); %>
  <div class="card">
    <h2>SIGN UP</h2>
    <form id="signupForm" action="/signupr" method="post">
      <input type="text" placeholder="Username" name="username" class="username-input" value="<%= username ? username : '' %>" required>
      <input type="email" placeholder="Email" name="email" value="<%= email ? email : '' %>" required>
      <input type="password" placeholder="Password" name="password" value="<%= password ? password : '' %>" required>
      <button type="submit" id="signupButton">SIGN UP</button>
      <p>OR</p>
      <div class="socials">
        <!-- Social media icons here -->
      </div>
      <p>Already a user? <a href="login.html">LOGIN</a></p>
    </form>

    <% if (msg) { %>
      <p id="errorMessage" class="error-message"><%= msg %></p>
    <% } %>

  </div>

  <!-- Link to the external script file -->
  <script src="script.js"></script>
</body>
</html>
